<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Excluir Posts</title>
</head>
<body>
    <%- include("../partials/menu") %>
    <center>
     Post excluído com sucesso!
        <img src="/static/jalogado.png">
    </center>
    <%- include("../partials/footer") %>
</body>
</html>